.profile_section_container > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 30px;
}

.profile_section_container > h3 {
    padding: 20px;
}

.profile_button {
    margin-bottom: 10px;
}