.third_resume_container {
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h1 {
    text-transform: uppercase;
}

.third_img_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to top right, grey 50%, aqua 50%);
}

.third_img_container > img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px 0;
}

.third_img_container > h1 {
    padding: 10px 0;
    color: aqua;
}

.third_contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
    flex-direction: column;
}

.third_contact > h1 {
    color: aqua;
    padding: 10px 0;
    background-color: black;
    width: 100%;
}

.third_contact > div {
    padding: 20px 0;
}

.third_contact > div > h3 {
    font-size: 20px;
    padding: 10px 0;
    text-align: left;
    color: aqua;
    text-transform: capitalize;
}

.third_social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: grey;
}

.third_social > h1 {
    color: aqua;
    background-color: black;
    padding: 10px 0;
    width: 100%;
}

.third_social > div {
    padding: 20px 0;
}

.third_social > div > a {
    color: aqua;
    font-size: 20px;
    padding: 10px  0;
    text-align: left;
    display: block;
    text-decoration: none;
}

.third_education {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}

.third_education > h1 {
    background-color: white;
    color: rgb(92, 92, 92);
    padding: 10px 0;
    width: 100%;
}

.third_education > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.third_education > div > div {
    padding: 20px 0;
}

.third_education > div > div> h3 {
    padding: 10px 0;
    text-align: right;
    text-transform: capitalize;
    color: rgb(92, 92, 92);
}

.third_skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aqua;
}

.third_skills > h1 {
    background-color: white;
    color: rgb(92, 92, 92);
    padding: 10px 0;
    width: 100%;
}

.third_skills > ul {
    text-align: right;
    list-style: none;
    padding: 20px 0;
}

.third_skills > ul > li {
    padding: 5px 0;
    text-transform: capitalize;
    color: rgb(92, 92, 92);
    font-weight: 600;
    text-align: right;
    text-transform: capitalize;
}

.third_miniProject {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: aqua;
}

.third_miniProject > h1 {
    color: rgb(92, 92, 92);
    background: white;
    padding: 10px 0;
    width: 100%;
}

.third_miniProject > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.third_miniProject > div > div > h3 {
    text-transform: capitalize;
    color: rgb(92, 92, 92);
    padding: 10px 0;
}

@media (max-width: 768px) {
    .third_resume_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .third_skills {
        order: 2;
    }

    .third_miniProject {
        order: 3;
    }

    .third_contact {
        order: 4;
    }

    .third_social {
        order: 5;
    }
}

@media(max-width: 500px) {
    .third_img_container > img {
        width: 200px;
        height: 200px;
    }
}