.userResume_container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: calc(100vh - 78.4px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first_profile_img, .first_userName, .contact, .education, .social, .skills {
    grid-column: span 1; 
  }
  
  .mini_project {
    grid-column: span 2; 
  }

.first_profile_img {
    background-color: rgb(245, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

.first_profile_img > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.first_userName {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: chocolate;
}

.skills > ul{
    list-style: none;
    padding: 10px 0;
}

.skills {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: chocolate;
}

.skills > h2 {
    text-transform: uppercase;
    background-color: rgb(245, 243, 243);
    padding: 10px 0;
    width: 100%;
}

.skills > h2 > span {
    margin: 5px;
    color: yellow;
}

.skills > ul > li {
    padding: 5px 0;
    text-transform: capitalize;
}

.skills > ul > li > span {
    font-size: 20px;
    color: green;
    margin: 0 5px;
}

.education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: chocolate;
}

.education > h2 {
    padding: 10px 0;
    text-transform: uppercase;
    background-color: rgb(245, 243, 243);
    width: 100%;
}

.education > div > div {
    padding: 20px 0;
}

.education > div > div > h3 {
    padding: 5px 0;
    font-weight: 400;
}

.education > div > div > h3 > span {
    margin: 0 10px;
    background-color: #f50057;
    color: white;
}

.education > h2 > span {
    margin:0 5px;
    color: brown;
}

.education > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.mini_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to left, rgb(245, 243, 243) 75%, chocolate 25%);
}

.mini_project > h3 {
    text-transform: uppercase;
    padding: 10px 0;
    background-color: white;
    width: 100%;
}

.mini_project > h3 > span {
    margin: 0 5px;
    color: brown;
}

.mini_project > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.mini_project > div > div {
    padding: 10px 0;
}

.mini_project > div > div > h3 {
    font-weight: 400;
    padding: 5px 0;
}

.mini_project > div > div > h3 > span {
    margin: 0 5px;
    color: blue;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 243, 243);
}

.contact > h2 {
    text-transform: uppercase;
    padding: 10px 0;
    background-color: chocolate;
    width: 100%;
}

.contact > div {
    padding: 10px 0;
}

.contact > div > h3 {
    padding: 5px 0;
}

.contact > h2 > span {
    margin: 0 5px;
    color: rgb(245, 243, 243);
}

.contact > div > h3 > span {
    font-size: 20px;
    color: green;
    margin: 0 5px;
}

.contact > div > h3 > .home-icon {
    color: black;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 243, 243);
}

.social > h2 {
    text-transform: uppercase;
    background-color: chocolate;
    padding: 10px 0;
    width: 100%;
}

.social > h2 > span {
    margin: 0 5px;
    color: rgb(245, 243, 243);
}

.social > div > a {
    text-align: center;
    text-decoration: none;
    color: #f50057;
    font-size: 20px;
    margin: 5px 0;
    display: block;
}

.social > div > a > span {
    font-size: 30px;
    margin: 0 5px;
}

.social > div {
    margin: 10px 0;
}

.facebook-icon-1 {
    color: blue;
}

.github-icon-1 {
    color: grey;
}

@media(max-width: 768px) {
    .userResume_container {
        grid-template-columns: 1fr;
    }

    .first_profile_img {
        grid-row: 1;
    }

    .first_userName {
        grid-row: 2;
    }

    .education {
        grid-row: 3;
    }

    .skills {
        grid-row: 4;
    }

    .mini_project {
        grid-row: 5;
    }

    .contact {
        grid-row: 6;
    }

    .social {
        grid-row: 7;
    }

    .mini_project > div {
        background-color: chocolate;
    }

    .mini_project > h3 {
        background-color: rgb(245, 243, 243);
    }

    .contact > h2 {
        background-color: rgb(245, 243, 243);
    }

    .contact  {
        background-color: chocolate;
    }

    .social > h2 {
        background-color: rgb(245, 243, 243);
    }

    .social {
        background-color: chocolate;
    }

    .social > div > a {
        color: black;
    }
}



