.second_resume_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    min-height: calc(100vh - 80px);
    font-family: 'Times New Roman', Times, serif;
}

.second_img_container {
    background-color: yellow;
    padding: 15px 0;
}

.second_img_container > img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    padding: 20px;
    object-fit: cover;
}

span {
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    font-weight: 500;
    font-size: 20px;
    margin: 5px 0;
}

.contact_container > h1 {
    text-transform: uppercase;
    padding: 10px 0;
    background-color: black;
    color: white;
}

.contact_container > div {
    text-align: right;
    padding: 70px 20px;
    background-color: yellow;
}

.social_container_rightSide > h1 {
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 10px 0;
}

.social_container_rightSide > div {
    background-color: yellow;
    text-align: right;
    padding: 40px;
}

.left_side > h1 {
    padding: 20px;
    background-color: black;
    color: yellow;
    text-transform: uppercase;
}

.left_side > h1 > span {
    color: white;
}

.second_skills > h1 {
    padding: 10px 0;
    background-color: yellow;
    text-transform: uppercase;
}

.second_skills > ul {
    text-align: left;
    padding: 30px 40px;
    list-style: none;
    text-transform: capitalize;
    background-color: black;
    color: white;
}

.second_education > h1 {
    padding: 10px 0;
    background-color: yellow;
    text-transform: uppercase;
}

.second_education > div  {
    background-color: black;
    padding: 2px 0;
}

.second_education > div > div {
    padding: 20px 40px;
    text-align: left;
}

.second_education > div > div > h3 {
    color: white;
    text-transform: capitalize;
    padding: 5px 0;
}

.second_miniProject > h1 {
    padding: 10px 0;
    text-transform: uppercase;
    background-color: yellow;
}

.second_miniProject > div {
    background-color: black;
}

.second_miniProject > div > div {
    text-align: left;
    padding: 20px 40px;
}

.second_miniProject > div > div > h3 {
    color: white;
    text-transform: capitalize;
    padding: 5px 0;
}

.facebook-icon {
    color: grey;
}