.user_resume_layout  {
    text-align: center;
}

.user_resume_layout > a > button {
    margin: 50px 0;
}

.user_resume_layout > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
}

.user_resume_layout > ul > li {
    max-width: 150px;
    border: 2px solid black;
    text-align: center;
}
